*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/compiler.xml
.idea/misc.xml
local.properties
gradle.xml
shade
*.bak
example/google-services.json

.idea/kotlinScripting.xml

example/release/

.idea/codeStyles/Project.xml

.idea/deploymentTargetDropDown.xml
